<h1>Should I take an umbrella?</h1?>

<form action="process_umbrella" method="post">
  <div>
    <label for="abcd">Where are you located?</label>
    <input id="abcd" type="text" name="user_loc>
  </div>
  
  <button>Submit</button>
</form>
